COLORS: dict[str, tuple[int, int, int]] = {
{%- for name, rgb in selected_colors.items() %}
    '{{ name }}': ({{ rgb[0] }}, {{ rgb[1] }}, {{ rgb[2] }}),
{%- endfor %}
}

EFFECTS: list[str] = [
{%- for effect in effects %}
    "{{ effect }}",
{%- endfor %}
]

